@{
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h2 align="center">Ваши запросы на занятия </h2>
<br />
<h4>Фильтр: @ViewBag.Filter</h4>
<div class="d-flex align-items-start w-25">

    <select class="form-control" aria-label="Default select example" name="Filter" id="Filter">

        <option value="">Выберите фильтр</option>
        <option value="Все">Все</option>
        <option value="Ожидание">Ожидание</option>
        <option value="Отменённое">Отменённое</option>
        <option value="Принятое">Принятое</option>
        <option value="Прошедшее">Прошедшее</option>

    </select>
    <br />

</div>
<br />
@if (ViewBag.rasspis.Count == 0)
{
    <h3 style="color:gray; text-align:center;">Не найдено(</h3>
}
@foreach (var raspis in ViewBag.rasspis)
{
    @if (raspis.RaspisIndividual.Status1 == Status1.Over)
    {
        <div class="card">
            <!-- Изображение -->
            <!--<img class="card-img-top" src="..." alt="...">-->
            <!-- Текстовый контент -->

            <div class="card-body">
                <h4 class="card-title">Занятие <a>@raspis.RaspisIndividual.Id</a></h4>
                <p class="card-text">Имя: <a>@raspis.Students.User.UserName</a></p>
                <p class="card-text">Об опыте ученика: @raspis.Students.AboutExpireance </p>
            </div>
            <!-- Список List groups -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Опыт:  <a>@raspis.Students.Experience</a></li>
                <li class="list-group-item">Время: <a>@raspis.RaspisIndividual.Time</a></li>
                <li class="list-group-item">Дата: <a>@raspis.RaspisIndividual.Date.ToShortDateString()</a></li>
                <li class="list-group-item">Зал: <a>@raspis.RaspisIndividual.Hall.Name</a></li>

            </ul>
            <!-- Текстовый контент -->
            <div class="card-body">
                @*@if (raspis.Status == Status.Good)
                {
                    <i class="bi bi-patch-check-fill text-success"></i>
                    <a id="status" class=" text-success">@raspis.Status</a>
                   
                }
                @if (raspis.Status == Status.Wait)
                {
                    <i class="bi bi-patch-question-fill text-warning"></i>
                    <a id="status" class=" text-warning">@raspis.Status</a>
                    
                }
                @if (raspis.Status == Status.Cancel)
                {
                    <i class="bi bi-patch-minus-fill  text-danger"></i>
                    <a id="status" class=" text-danger">@raspis.Status</a>
                   
                }*@
                <br />
                <a class="text-danger">Закончено</a>




            </div>

        </div><!-- Конец карточки -->
    }
    else
    {
        <div class="card">
            <!-- Изображение -->
            <!--<img class="card-img-top" src="..." alt="...">-->
            <!-- Текстовый контент -->

            <div class="card-body">
                <h4 class="card-title">Занятие <a>@raspis.RaspisIndividual.Id</a></h4>
                <p class="card-text">Имя: <a>@raspis.Students.User.UserName</a></p>
                <p class="card-text">Об опыте ученика: @raspis.Students.AboutExpireance </p>
            </div>
            <!-- Список List groups -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Опыт:  <a>@raspis.Students.Experience</a></li>
                <li class="list-group-item">Время: <a>@raspis.RaspisIndividual.Time</a></li>
                <li class="list-group-item">Дата: <a>@raspis.RaspisIndividual.Date.ToShortDateString()</a></li>
                <li class="list-group-item">Зал: <a>@raspis.RaspisIndividual.Hall.Name</a></li>

            </ul>
            <!-- Текстовый контент -->
            <div class="card-body">
                @if (raspis.Status == Status.Good)
                {
                    <i class="bi bi-patch-check-fill text-success"></i>
                    <a id="status" class=" text-success">@raspis.Status</a>
                    <form method="post" asp-controller="ClassInd" asp-action="UpdateStatus">
                        <input type="hidden" name="id" value="@raspis.Id" required><br>
                        <input type="hidden" name="status" value="@Status.Wait" required><br>
                        <button id="update" class=" mr-1 card-link btn btn-secondary ">Изменить</button>
                    </form>
                }
                @if (raspis.Status == Status.Wait)
                {
                    <i class="bi bi-patch-question-fill text-warning"></i>
                    <a id="status" class=" text-warning">@raspis.Status</a>
                    <div class="container ">
                        <div class="row">
                            <div class="d-flex justify-content-start">

                                <form method="post" asp-controller="ClassInd" asp-action="UpdateStatus">
                                    <input type="hidden" name="id" value="@raspis.Id" required><br>
                                    <input type="hidden" name="status" value="@Status.Cancel" required><br>
                                    <button id="otcl" class="   btn btn-danger ">Отклонить</button>
                                </form>



                                <form method="post" asp-controller="ClassInd" asp-action="UpdateStatus">
                                    <input type="hidden" name="id" value="@raspis.Id" required><br>
                                    <input type="hidden" name="status" value="@Status.Good" required><br>
                                    <button id="prin" class="  btn btn-success ">Подтвердить</button>
                                </form>

                            </div>
                        </div>
                    </div>
                }
                @if (raspis.Status == Status.Cancel)
                {
                    <i class="bi bi-patch-minus-fill  text-danger"></i>
                    <a id="status" class=" text-danger">@raspis.Status</a>
                    <form method="post" asp-controller="ClassInd" asp-action="UpdateStatus">
                        <input type="hidden" name="id" value="@raspis.Id" required><br>
                        <input type="hidden" name="status" value="@Status.Wait" required><br>
                        <button id="update" class=" mr-1 card-link btn btn-secondary ">Изменить</button>
                    </form>
                }




            </div>

        </div><!-- Конец карточки -->
    }
    <br />
    <br />
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('#Filter').change(function () {
                var selectedValue = $(this).val();

                // Send AJAX request to the controller
                $.ajax({
                    url: '/ClassInd/StatusFilter',
                    type: 'POST',
                    data: { Filter: selectedValue },
                    success: function (result) {
                        // Update the second list with the retrieved data
                        window.location.href = '/ClassInd/SelectClassesInd?Filter=' + selectedValue + '';


                    },
                    error: function (xhr, status, error) {
                        alert('Error:', error);
                    }
                });
            });
        });

    </script>
}
