@model Sport.Models.User
@{
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<style>
  
   


    body {
        background: #2a2a2b;
       
    }

   

    .inputWithIcon {
        position: relative;
    }

        .inputWithIcon i {
            position: absolute;
            right: 0;
            top: -3px;
            padding: 14px 13px;
           
            transition: 0.3s;
        }

       

  
    input[type ="text"]::-webkit-input-placeholder{
        color:grey;
    }

    input[type ="text"] {
        color: black;
    }
    textarea[type ="text"] {
        color: black;
    }

</style>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Model.UserName</span>@Model.Email<span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Профиль</h4>
                </div>
                
                    <div class="row mt-2">

                        <div class="col-md-6">
                            <label class="labels">Имя</label>
                            <div class="inputWithIcon">
                                <input id="name" type="text" class="form-control" value="@Model.FirstName" placeholder="first name">
                                <i id="nameicon" class="fa"></i>
                            </div>
                            </div>
                        <div class="col-md-6">
                            <label class="labels">Фамилия</label>
                            <div class="inputWithIcon">
                                <input id="lastname" type="text" class="form-control" value="@Model.LastName" placeholder="surname">
                                <i id="lastnameicon" class="fa"></i>
                            </div>
                            </div>
                            <div class="col-md-6"><label class="labels">Имя пользователя</label><input disabled type="text" class="form-control" value="@Model.UserName" placeholder="UserName"></div>
                        </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Почта</label><input disabled type="text" class="form-control" placeholder="Email" value="@Model.Email"></div>
                        <div class="col-md-12"><label class="labels">Год рождения</label><input disabled type="text" class="form-control" placeholder="Year" value="@Model.Year"></div>


                        <div class="col-md-12">
                        <label class="labels">Телефон</label>
                        <div class="inputWithIcon">
                            <input id="phone" type="text" class="form-control" placeholder="Phone" value="@Model.PhoneNumber">
                            <i id="phoneicon" class="fa"></i>
                            </div>
                        </div>

                    </div>

                    <div class="mt-5 text-center"><button id="updateInfoUser" type="button" class="btn btn-outline-success" >Изменить</button></div>

               
                <p id="verificationResult"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience ml-2">
                   
                   
                </div><br>
                      <div class="col-md-12">
                          <label class="labels">Спорт</label>
         
                            <select class="form-select" aria-label="Default select example" id="sport" name="sport">
                                @foreach (var item in ViewBag.sp)
                                {


                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                 
                  
</div> <br>
                <div class="col-md-12"><label class="labels">Опыт</label><input   disabled id="epirance"  type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">О вашем опыте</label><textarea disabled  id="aboutexpirance" type="text" class="form-control" placeholder="Expirance details" value=""></textarea></div>
                <div class="col-md-12 mt-4">
                    <button id="redact" type="button" class="btn btn-outline-success">Редактировать</button>
                    <p id="rez"></p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            $('#sport').change(function () {
                var selectedValue = $(this).val();

                // Send AJAX request to the controller
                $.ajax({
                    url: '/Account/GetExpirance',
                    type: 'GET',
                    data: { sport: selectedValue },
                    success: function (response) {
                        // Display response in a pop-up window
                        if (response == "null") {

                            $('#epirance').val("");
                            $('#aboutexpirance').val("");
                        }
                        else {


                            $('#epirance').val(response.exp);

                            $('#aboutexpirance').val(response.aexp);

                        }


                               },
            error: function (xhr, status, error) {
                alert( error);
            }
        });
    });
        });
        $(document).ready(function () {
            $('#phone').on('input', function () {
                var phoneNumber = $(this).val();

                $.ajax({
                    url: '/Account/VerifyPhoneNumber',
                    type: 'POST',
                    data: { phoneNumber: phoneNumber },
                    success: function (responce) {
                        // Handle the JSON response
                        if (responce.success) {
                            $('#phoneicon').empty();
                            $('#phoneicon').append('<i id="phoneicon" class="bi bi-check2 text-success fa"></i>');
                        } else {
                            $('#phoneicon').empty();
                            $('#phoneicon').append('<i id="phoneicon" class="bi bi-x-lg text-danger fa"></i>');
                        }
                    },
                    error: function () {
                        // Handle AJAX error
                        $('#result').text('An error occurred during validation.');
                    }
                });
            });
        });
        function AddOnRedactClick() {
            $('#redact').on('click', function () {
                
                var exp = $('#epirance').val();
                document.getElementById("epirance").disabled = false;
               /* $('#epirance').replaceWith('<select class="form-select" aria-label="Default select example" id="epirance" name="sport"><option value="2">low</option><option value="1">average</option><option value="0" selected >high</option></select>');*/
                if (exp == "average") {
                    $('#epirance').replaceWith('<select class="form-select" aria-label="Default select example" id="epirance" name="sport"><option value="1" selected>average</option><option value="2">low</option><option value="0">high</option></select>');
                }
                else if (exp == "low") {
                    $('#epirance').replaceWith('<select class="form-select" aria-label="Default select example" id="epirance" name="sport"><option value="2" selected>low</option><option value="1">average</option><option value="0">high</option></select>');
                }
                else if (exp == "high") {
                    $('#epirance').replaceWith('<select class="form-select" aria-label="Default select example" id="epirance" name="sport"><option value="2">low</option><option value="1">average</option><option value="0" selected >high</option></select>');
                }
                else  {
                    $('#epirance').replaceWith('<select class="form-select" aria-label="Default select example" id="epirance" name="sport"><option value="1" selected>average</option><option value="2">low</option><option value="0">high</option></select>');
                }
                
                    
               
               
                document.getElementById("aboutexpirance").disabled = false;
                $('#redact').empty();
                $('#redact').replaceWith('<button id="update" type = "button" class= "btn btn-outline-success" >Изменить</button >')
                AddOnUpdateClick()
            });
        }
        function AddOnUpdateClick() {
            $('#update').on('click', function () {
               
              
                var sport = $('#sport').val();
                var exp = $('#epirance').val();
                var aboutexp = $('#aboutexpirance').val();
                $.ajax({
                    url: '/Account/UpdateExpirance',
                    type: 'POST',
                    data: { sportId: sport,exp:exp,aboutexp:aboutexp },
                    success: function (responce) {
                        // Handle the JSON response
                        if (responce == "null") {
                            $('#rez').text("введите данные");
                        }
                        else {
                            $('#epirance').replaceWith(' <input disabled id="epirance" type="text" class="form-control" placeholder="experience" value="' + responce + '">');
                            $('#epirance').prop('disabled', true);
                            $('#aboutexpirance').prop('disabled', true);
                            $('#update').replaceWith('<button id="redact" type = "button" class= "btn btn-outline-success" >Редактировать</button >')
                            AddOnRedactClick()
                            $('#rez').text("все хорошо");
                        }
                    },
                    error: function (a) {
                        // Handle AJAX error
                        $('#rez').text(a);
                    }
                });
               
            });
        }
        AddOnRedactClick()

        $('#updateInfoUser').on('click', function () {
            var namee = $('#name').val();
            var lastname = $('#lastname').val();
            var phone = $('#phone').val();

            $.ajax({

                url: '/Account/UpdateInfo', // Replace Controller/Action with the actual controller and action name
                type: 'GET',
                data: { name: namee, lastname: lastname, phone: phone},
                success: function (response) {
                    // Display response in a pop-up window
                    if (response.success) {
                        $('#phoneicon').empty();
                        $('#phoneicon').append('<i id="phoneicon" class="bi bi-check2 text-success fa"></i>');
                        $('#nameicon').empty();
                        $('#nameicon').append('<i id="nameicon" class="bi bi-check2 text-success fa"></i>');
                        $('#lastnameicon').empty();
                        $('#lastnameicon').append('<i id="lastnameicon" class="bi bi-check2 text-success fa"></i>');
                        $("#verificationResult").text(response.message);
                    }
                    else {
                        if (response.statusname == "1") {
                            $('#nameicon').empty();
                            $('#nameicon').append('<i id="nameicon" class="bi bi-check2 text-success fa"></i>');
                        }
                        else {
                            $('#nameicon').empty();
                            $('#nameicon').append('<i id="nameicon" class="bi bi-x-lg text-danger fa"></i>');
                        }
                        if (response.statuslastname == "1") {
                            $('#lastnameicon').empty();
                            $('#lastnameicon').append('<i id="lastnameicon" class="bi bi-check2 text-success fa"></i>');
                        }
                        else {
                            $('#lastnameicon').empty();
                            $('#lastnameicon').append('<i id="lastnameicon" class="bi bi-x-lg text-danger fa"></i>');
                        }
                        if (response.statusphone == "1") {
                            $('#phoneicon').empty();
                            $('#phoneicon').append('<i id="phoneicon" class="bi bi-check2 text-success fa"></i>');
                        }
                        else {
                            $('#phoneicon').empty();
                            $('#phoneicon').append('<i id="phoneicon" class="bi bi-x-lg text-danger fa"></i>');
                        }
                        $("#verificationResult").text(response.message);
                    }



                },
                error: function (xhr) {
                    // Handle error if any
                    alert('Error: ' + xhr.statusText);
                }
            });

        });

    </script>
}
